<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <title>OS Brain 管理系统</title>
    <vue-import th:replace="commons/base"></vue-import>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>

    <script src="/static/script/network.js"></script>
</head>

<body>
<vue-import th:replace="commons/header"></vue-import>
<vue-import th:replace="commons/siderbar"></vue-import>

<vue-import th:replace="admin/subpages/book"></vue-import>
<vue-import th:replace="admin/subpages/question"></vue-import>
<vue-import th:replace="admin/subpages/task"></vue-import>
<vue-import th:replace="admin/subpages/class"></vue-import>
<vue-import th:replace="admin/subpages/student"></vue-import>
<vue-import th:replace="admin/subpages/about"></vue-import>
<vue-import th:replace="admin/subpages/classRecord"></vue-import>
<vue-import th:replace="admin/subpages/studentRecord"></vue-import>

<vue-import th:replace="admin/components/questionList"></vue-import>

<vue-import th:replace="components/timeLabel"></vue-import>
<vue-import th:replace="components/confirmDialog"></vue-import>
<vue-import th:replace="components/paginationTable"></vue-import>

<div id="app">
    <el-container style="min-height: 100vh">
        <el-header height="70">
            <x-header></x-header>
        </el-header>
        <el-container>
            <el-aside width="220px">
                <x-siderbar @select="onSelect"></x-siderbar>
            </el-aside>
            <el-main>
                 <transition name="el-fade-in">
                    <router-view></router-view>
                </transition>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>

    var routes = [
        {
            path: '/book',
            component: { template: '<x-admin-subpage-book></x-admin-subpage-book>' } 
        }, {
            path: '/question',
            component: { template: '<x-admin-subpage-question></x-admin-subpage-question>' } 
        }, {
            path: '/task', 
            component: { template: '<x-admin-subpage-task></x-admin-subpage-task>' } 
        }, {
            path: '/class',
            component: { template: '<x-admin-subpage-class></x-admin-subpage-class>' } 
        }, { 
            path: '/student',
            component: { template: '<x-admin-subpage-student></x-admin-subpage-student>' } 
        }, {
            path: '/about',
            component: { template: '<x-admin-subpage-about></x-admin-subpage-about>' } 
        }, {
            path: '/classRecord',
            component: { template: '<x-admin-subpage-class-record></x-admin-subpage-class-record>' }
        }, {
            path: '/studentRecord',
            component: { template: '<x-admin-subpage-student-record></x-admin-subpage-student-record>' } 
        },
    ]

    var router = new VueRouter({
        routes: routes
    });

    new Vue({
        router: router,
        el: "#app",

        data: function () {
            return {
            };
        },

        methods:  {
            onSelect: function (index, path) {
                this.$router.push(index);
                console.log(index);
                this.$emit("select", index, path);
            },

        },

        beforeMount: function() {
            if (this.$router.currentRoute.fullPath == "/") {
                this.$router.push("about");
            }
            console.log(this.$router.currentRoute);
        },
    });

</script>
</body>
</html>
