
<template id="x-book-add-form">
<el-dialog :title="mode == 'edit' ? '修改题册' : '添加题册'" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="题册名称">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="题册描述">
            <el-input v-model="form.comment"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="onSubmit" :loading="loading">确 定</el-button>
        </div>
      </el-dialog>
</template>

<script>
    Vue.component('x-book-add-form', {
        template: "#x-book-add-form",
        props: {
            data: {
                default: null
            },
            mode: {
                default: "add"
            }
        },
        data: function () {
            return {
                form: {
                    name: "",
                    comment: ""
                },
                loading: false,
                dialogFormVisible: false
            };
        },

        watch: {
            data: {
                handler: function (val, oldVal) {
                    if (!_.isNil(val)) {
                        this.form = _.clone(val);
                    }
                },
                immediate: true
            },

        },

        methods: {
            open: function (data) {
                this.dialogFormVisible = true;
                if (!_.isNil(data)) {
                    this.form = _.clone(data);
                }
            },

            onSubmit: function () {
                if (this.mode == "edit") {
                    network.put("/api/exercise-book/" + this.form.id, this.form).then((success) => {
                        this.loading = false;
                        this.dialogFormVisible = false;
                        this.$emit("after-submit");
                    });

                } else {
                    network.post("/api/exercise-book", this.form).then((success) => {
                        this.loading = false;
                        this.dialogFormVisible = false;
                        this.$emit("after-submit");
                    });
                }


            }
        },

    });
</script>